@import url('https://fonts.googleapis.com/css?family=Lato');

@import "variables.scss";
@import "mixins.scss";

html, body, ul, ol {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
img {
    position: relative;
    max-width: 100%;
}

%fixed-tile {
    position: fixed;
    width: 100%;
    height: 100%;
}
%transformed-title {
    text-transform: uppercase;
}
body {
    font-family: Lato;
    /* PRE LOADER */
    .preLoader {
        z-index: 15000;
        position: fixed;
        width: 100%;
        display: none;
    }
    /* LOADER */
    $fLoaderWidth: 96%;
    .fLoader {
        @extend %fixed-tile;
        z-index: 20000;
        padding-top: ((100%-$fLoaderWidth)/2);
        color: $normal-special;
        background: $veryfair;
        
        >div {
            $animationHolderWidth: 96%;
            
            width: $fLoaderWidth;
            height: $fLoaderWidth;
            border: 2px dashed $normal-special;
            margin: auto;
            padding-top: ((100%-$animationHolderWidth)/2);
            display: none;
            
            >h1 {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 2%;
                width: 8%;
                text-align: center;
                display: none;
                background: $veryfair;
            }
            >div {
                height: $animationHolderWidth;
                width: 30%;
                margin: auto;
                border: 1px solid $normal-special;
                overflow: hidden;
                display: none;
                >div{
                    float: left;
                    width: (100%/6);
                    height: 100%;
                    
                    >div {
                        width: 100%;
                        height: 40%;
                        display: block;
                        background: $dark-special;
                        margin-top: -700%;
                    }

                }
                >div:nth-child(1){
                    div {
                        animation: loaderAnimation 3s linear infinite alternate;
                    }
                }
                >div:nth-child(2){
                    div {
                        animation: loaderAnimation 1s linear infinite alternate;
                    }
                }
                >div:nth-child(3){
                    div {
                        animation: loaderAnimation 1.5s linear infinite alternate;
                    }
                }
                >div:nth-child(4){
                    div {
                        animation: loaderAnimation 2s linear infinite alternate;
                    }
                }
                >div:nth-child(5){
                    div {
                        animation: loaderAnimation 2.5s linear infinite alternate;
                    }
                }
                >div:nth-child(6){
                    div {
                        animation: loaderAnimation 1.5s linear infinite alternate;
                    }
                }
                @keyframes loaderAnimation{
                    to {
                        margin-top: 1000%;
                    }
                }
            }
        }
    }
    /* AFTER LOaDER */
    .fLoaderAfter{
        @extend %fixed-tile;
        background: $light-special;
        z-index: 19000;
    }
    /* THEME */
    .fTheme {
        @extend %fixed-tile;
        background: $veryfair;
        z-index: 10000;
        text-align: center;
        display: none;
        
        >h1 {
            @extend %transformed-title;
            font-size: 5em;
            letter-spacing: 0.3em;
            color: $normal-special;
            margin: 600px auto auto auto;
            transition: 0.3s ease;
            
            &:hover {
                background: $fair;
            }
        }
        >h2 {
            text-align: center;
            position: absolute;
            @extend %transformed-title;
            font-size: 10em;
            letter-spacing: 0.3em;
            color: $fair;
            background: $normal-special;
            width: 100%;
            margin: 0;
            top: 0;
            display: none;
        }
        >div {
            margin: 0px auto;
            width: 100px;
            height: 100px;
            border: 1px solid $normal-special;
            @include border-radius(100%);
            margin-top: 2%;
            transition: 0.3s ease;
            
            &:hover {
                background: $light-special;
                @include box-shadow(0px, 0px, 0px, 25px, $fair);
            }
            &:hover > div {
                border-color: $dark-special;
            }
            
            >div {
                margin: 30px auto auto auto;
                width: 30px;
                height: 30px;
                transform: rotate(45deg);
                border-right: 2px solid $normal-special;
                border-bottom: 2px solid $normal-special;
            }
            >hr {
                width: 1px; 
                height: 200px;
                background: $normal-special;
                border: none;
                position: absolute;
                margin-left: 49px;
                margin-top: 39px;
            }

        }
    }
    /* TRANSITION */
    .fTransition {
        position: absolute;
        z-index: 8000;
        width: 1px;
        height: 100%;
        left: 50%;
        background: $normal-special;
        border: none;
        display: none;
    }
    /* PAGE */
    .fPage {
        top: 100%;
        z-index: 8000;
        position: absolute;
        width: 100%;
        height: auto;
        min-height: 2000px;
        background: $fair;
        color: $fair;
        display: none;
        
        nav {
            float: left; 
            width: 100%;
            background: $normal-special;
            
            ul {
                list-style-type: none;
                float: left;
                li {
                    float: left;
                    a {
                        float: left;
                        padding: 10px 30px;
                        @extend %transformed-title;
                        color: $fair;
                        font-size: 1.3em;
                        font-weight: bold;
                        letter-spacing:  0.2em;
                        text-decoration: none;
                        
                        &:hover {
                            background: $fair;
                            color: $normal-special;
                        }
                    }
                }
            }
        }
    }
}